<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="../styles/menu.css">
</head>
<body>
    <nav class="mainMenu">
        <button>
            Tablero
        </button>
        <button>
            Documentos
        </button>
        <button>
            Productos
        </button>
        <button>
            Stock
        </button>
        <button>
            Informes
        </button>
        <button>
            Clientes y provedores
        </button>
        <button>
            Promociones y Acciones
        </button>
        <button>
            Usuario y Seguridad
        </button>
        <button>
            Print Station
        </button>
        <button>
            Formas de pago
        </button>
        <button>
            Países
        </button>
        <button>
            Tasas de impuestos
        </button>
        <button>
            Mi empresa
        </button>
    </nav>
</body>
</html>